#!/usr/bin/env python3
# -*- coding: utf-8 -*-

import sys
import os

"""SETTINGS Dataformats
"""
DATE_FORMAT_HM = '%H:%M'
DATE_FORMAT_HMS = '%H:%M:%S'
DATE_FORMAT_H = '%H'
DATEFORMAT_YMD = '%Y-%m-%d'
DATEFORMAT_YM = '%Y-%m'
DATEFORMAT_Y = '%Y'
DATEFORMAT_UTC = '%Y-%m-%dT%H:%M:%SZ'
DATEFORMAT_TIMESTAMP = '%Y-%m-%d %H:%M:%S.%f'
DATEFORMAT_MISCAN = '%Y-%m-%d %H:%M:%S'
LAST_TIMESTAMP = None

"""SETTINGS LOGGER
"""
# switch logging on/off
LOG_LEVEL = 10  # LOG_LEVEL DEBUG: 10
# LOG_LEVEL = 20  # LOG_LEVEL INFO: 20
# LOG_LEVEL = 30   ## LOG_LEVEL WARNING: 30
# LOG_LEVEL = 40   ## LOG_LEVEL ERROR: 40
# LOG_LEVEL = 50   ## LOG_LEVEL CRITICAL: 50
# LOG_LEVEL = 100  ## LOG_LEVEL DISABLED: 100
LOG_DIR = './logs/'


"""SETTINGS MQTT Client
"""
MQTT_HOST = 'localhost'  # Add your MQTT HOST
MQTT_PORT = 1883
MQTT_TIMEOUT = 60
MQTT_USERNAME = 'miscale.service'
MQTT_PASSWORD = '8DmLcN7YPGmg8q9jy63C'
MQTT_DISCOVERY = True
MQTT_DISCOVERY_PREFIX = 'homeassistant'
MQTT_AVAILABILITY_TOPIC = 'tele/miscale2/LWT'
MQTT_DATATOPIC = 'tele/bodyscale/data'
MQTT_TOPIC = 'tele/miscale2/data'
MQTT_PREFIX = 'tele/miscale2'
MQTT_CLEINTID = 'misacle.service'
MQTT_KEEPALIVE = 60
MQTT_ENABLE_LOGGING = False

"""SETTINGS INFLUX DATABASR SERVICE
"""
# all for the influx database
# disable INFLUXDB Service: set INFLUXDB = None
INFLUXDB_NAME = 'historydata'
INFLUXDB_HOST = 'localhost'  # Add your INFLUXDB HOST
INFLUXDB_PORT = 8086
INFLUXDB_USER = 'admin'
INFLUXDB_PASSWORD = '3parpXA7AhN3B3i5si4E'
INFLUXDB_LOG_DIR = None  # './data/influxdb'
INFLUXDB_MEASUREMENT = 'miscale_'
IFLUXDB_DATALIST = [
    "metabolic_age",
    "bmi",
    "weight",
    "impedance",
    "lbm",
    "fat",
    "visceral",
    "water",
    "bone",
    "muscle",
    "protein",
    "bmr",
    "ffm",
    "ffmi",
    "tdee"
]

"""SETTINGS MISCALE V2
"""
MI2_MAC = "5c:ca:d3:4c:ee:74"
M12_TYPE = "XMTZC05HM"
MI2_NAME = "MI Body Composition Scale 2"
MI2_SHORTNAME = "MIBFS"
MI2_SCALE2ID = '1b18'
MI2_DATAREADY = 22
MI2_DATAFLAG = 1
MI2_NOSERVICE = 2
MI2_LOCALNAME = 9
MI2_MANUFACTORID = 255
HCI_DEV = 'hci0'  # sudo hciconfig
TIME_INTERVAL = 30
ATTRIBUTION = 'Data provided by Peter Siebler'

"""SETTINGS for all users
"""
USER1_MIN_WEIGHT = 71
USER1_AVG_IMP = 400
USER1_SEX = "female"
USER1_NAME = "Helen"
USER1_HEIGHT = 162.5
USER1_ATHLETIC = False
USER1_ACTIVITY = 1.2    # Typical adult PAL values range from 1.20 to 2.40.
USER1_DOB = "1969-06-20"
USER1_SCORES = {
    "WEIGHT": 65.00,
    "FAT": 15.50,
    "VISCERAL": 7.00,
    "MUSCLE": 48.00,
    "WATER": 57.00,
    "BONES": 3.20,
    "BMR": 1850,
    "PROTEIN": 18.00
}
# rescale factors based on the history data (see tests/scalefactors.py)
USER1_ADJUSTMENTS = None
    
USER2_MAX_WEIGHT = 71
USER2_AVG_IMP = 500
USER2_SEX = "male"
USER2_NAME = "Paul"
USER2_HEIGHT = 173
USER2_ATHLETIC = False
USER2_ACTIVITY = 1.2    # Typical adult PAL values range from 1.20 to 2.40.
USER2_DOB = "1968-07-15"
USER2_SCORES = {
    "WEIGHT": 70.00,
    "FAT": 11.50,
    "VISCERAL": 7.00,
    "MUSCLE": 56.00,
    "WATER": 55.00,
    "BONES": 3.70,
    "BMR": 2200,
    "PROTEIN": 22.00
}
USER2_ADJUSTMENTS = None

"""SETTINGS folders
"""
BASE_DIR = os.path.dirname(os.path.realpath(__file__))
DATA_DIR = os.path.join(os.path.dirname(__file__), 'data/')

BODY_SCALE_TYPES = [
    "Obese", "Overweight", "Thick/Fat", "Lack of Exercise", "Balanced", "Balanced Muscular", "Slim", "Balanced Slim", "Skinny Muscular",
]

DIFF_TEXT_DE = [
    "Removed", "No Change", "Increased"
]

"""Misc SETTINGS
"""
# Used to detect which user the data came from
# along with impedance data.
WEIGHT_OFFSET_COEFFICIENT = 10
PUSHBULLET_TOKEN=""
